body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    background: rgb(255 0 0 / .2);

    width: 40rem;
    height: 30rem;

    display: flex;
    justify-content: center;
}

main div {
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

h1 {
    font-size: 2rem;
}

label {
    font-size: 1rem;
    display: block;
}

input {
    display: block;

    width: 80%;
}