:root {
    --dark: #151424;
    --darkv: 21 20 36;
    --mid: #403E51;
    --midv: 64 62 81;
    --light: #cdcbd6;
    --high: #754b01;
    
    font-family: 'Libre Baskerville', serif;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    user-select: none;
    -webkit-user-select: none;
}

canvas {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0);
}

main {
    z-index: 2;

    width: 40rem;
    min-width: 30rem;
    max-width: 60%;
    height: 35rem;
    border-radius: 1rem;
    transition: all .1s ease-in-out;
    
    background: rgba(var(--darkv) / .8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    box-sizing: border-box;
}

@media screen and (max-width: 40rem) {
    main {
        border-radius: 0;
        width: 100%;
        max-width: 100%;
    }
}

@media screen and (max-height: 40rem) {
    main {
        border-radius: 0;
        height: 100%;
        max-height: 100%;
    }
}

main > div {
    width: 60%;
    height: clamp(23rem, 70%, 25rem);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

h1 {
    font-size: 2em;
    margin: 0;
}

p {
    color: lightcoral;
    font-size: 1rem;
}

label {
    height: 2.5em;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    opacity: .8;
}

label span {
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    align-items: flex-end;
    justify-content: flex-end;
    font-family: 'Material Symbols Outlined';
    font-size: 1.2rem;
}

label span:hover {
    opacity: 1 !important;
}
label:not(:has(+input:hover, +input:focus)) span {
    visibility: hidden;
}

input, button {
    --outline-width: 1px;
    all: unset;
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: .5rem;
    box-shadow: inset 0 0 0 var(--outline-width) rgb(255 255 255 / .2);
    padding: 1rem 2rem;

    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    color: var(--light);
}

input:hover, input:focus {
    --outline-width: 2px;
}
button:hover, button:focus {
    --outline-width: 3px;
}

input {
    outline: none;
    background: rgba(var(--midv) / .5);
}

button {
    /* for position absolute-centering success checkmark */
    position: relative;
    top: 0;
    left: 0;

    margin-top: 2.5rem;
    background: var(--high);
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Libre Baskerville', serif;
}

button:is(.waiting, .success) span#login-text {
    display: none;
}

button.waiting span.login-ellipsis {
    display: inline-block;
    width: .5rem;
    height: .5rem;
    border-radius: 100%;
    background: rgba(255 255 255 / .5);
}

button.success span#login-success::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    content: '\e876';
    font-family: 'Material Symbols Outlined';
    font-size: 2;
}